<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Root page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>
    <h3>Поиск Автора</h3>
    <p>Фамилия: [ {{#each last_name_nvc}} {{{this}}} {{/each}} ]</p>
    <p>Имя: [ {{#each first_name_nvc}} {{{this}}} {{/each}} ]</p>
    <p>Отчество: [ {{#each middle_name_nvc}} {{{this}}} {{/each}} ]</p>

</body>
</html>