<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>
    <h3>Поиск по автору</h3>
    <table>
    <tr><th></th><th>Возможные варианты</th></tr>
        <tr>
            <td align="right">Фамилии</td>
            <td>{{#each last_name_nvc}} {{{this}}} {{/each}}</td>
        </tr>
        <tr>
            <td align="right">Имена</td>
            <td>{{#each first_name_nvc}} {{{this}}} {{/each}}</td>
        </tr>
        <tr>
            <td align="right">Отчества</td>
            <td>{{#each middle_name_nvc}} {{{this}}} {{/each}}</td>
        </tr>
    </table>
    <h3>Поиск по названию</h3>
    <table>
        <tr><th></th><th>Возможные варианты</th></tr>
        <tr>
            <td align="right">Названия</td>
            <td>{{#each book_title_nvc}} {{{this}}} {{/each}}</td>
        </tr>
    </table>

</body>
</html>